# HyPeg A Hybrid Parser Grammer Library

[![Hex.pm](https://img.shields.io/hexpm/v/hy_pegr.svg)](https://hex.pm/packages/hy_pegr)
[![Hex.pm](https://img.shields.io/hexpm/dw/hy_pegr.svg)](https://hex.pm/packages/hy_pegr)
[![Hex.pm](https://img.shields.io/hexpm/dt/hy_pegr.svg)](https://hex.pm/packages/hy_pegr)


## Table Of Contents

<%= xtra.toc :self, gh_links: true, min_level: 2, max_level: 4, remove_gaps: true %>

## Usage

<%= xtra.moduledoc "HyPeg", include: :all, wrap_code_blocks: "elixir", headline: 3 %>


Copyright © 2024 Robert Dober
robert.dober@gmail.com

## LICENSE

Same as Elixir, which is Apache License v2.0. Please refer to [LICENSE](LICENSE) for details.

<!-- SPDX-License-Identifier: Apache-2.0 -->
